body {
  background-color: #4f7462;
}

header {
  background: url(./Assets/BCKground.jpg);
  display: inline-flex;
  background-repeat: no-repeat;
  background-color: lightgray;
  background-size: cover;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 204px;
}

nav {
  color: antiquewhite;
  /* How come the color of the text won't change? */
}

h1 {
  margin-right: 50px;
  letter-spacing: 4.8px;
  font-family: "Borel", cursive;
  font-size: 48px;
  color: #de8c50;
  padding: 36px;
}

input {
  display: flex;
  width: 200px;
  padding: 10px 19px 10px 18px;
  border-radius: 21px;
  background: #8f3d3d;
  color: #000;
  /* I would like the placeholder-text to be black in color and also add some space between the two inputs*/
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 2px;
}

button {
  width: 84px;
  height: 32px;
  padding: 4px 10px 3px 9px;
  border-radius: 40px;
  background: #119d5a;
}

.main {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: start;
  text-align: center;
}
/* I would like to have two different columns with three pictures in each column. I would also like the caption to align in the center below the image. */
.monstera {
  width: 136px;
  height: 164px;
  border-radius: 73px;
  background: lightgray 50% / contain no-repeat;
  transition: all width height 2s ease 4s;
}

.sølv {
  width: 136px;
  height: 164px;
  border-radius: 73px;
  background: lightgray 50% / contain no-repeat;
  transition: all width height 2s ease 4s;
}

.aloe {
  width: 136px;
  height: 164px;
  border-radius: 73px;
  background: lightgray 50% / contain no-repeat;
  transition: all width height 2s ease 4s;
}

.philo {
  width: 136px;
  height: 164px;
  border-radius: 73px;
  background: lightgray 50% / contain no-repeat;
  transition: all width height 2s ease 4s;
}

.strel {
  width: 136px;
  height: 164px;
  border-radius: 73px;
  background: lightgray 50% / contain no-repeat;
  transition: all width height 2s ease 4s;
}

.gummi {
  width: 136px;
  height: 164px;
  border-radius: 73px;
  background: lightgray 50% / contain no-repeat;
  transition: all width height 2s ease 4s;
}

footer {
  background: url(./Assets/BCKground.jpg);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
  background-repeat: no-repeat;
  background-color: lightgray;
  background-size: cover;
  align-items: end;
  width: 1440px;
  height: 204px;
  color: aliceblue;
  text-align: center;
}

.gummi:hover {
  border-radius: 0%;
  width: 250px;
  height: 250px;
}

.monstera:hover {
  border-radius: 0%;
  width: 250px;
  height: 250px;
}

.philo:hover {
  border-radius: 0%;
  width: 250px;
  height: 250px;
}

.aloe:hover {
  border-radius: 0%;
  width: 250px;
  height: 250px;
}

.strel:hover {
  border-radius: 0%;
  width: 250px;
  height: 250px;
}

.sølv:hover {
  border-radius: 0%;
  width: 250px;
  height: 250px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 30px;
}

#logo {
  width: 20px;
  height: 20px;
  border-radius: 400px;
}
